<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Roles de Usuario</title>
    <link href="~/estilos3.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <main>
        @RenderBody()
    </main>

    <footer>
        <h4>Héctor Saúl Maldonado Gómez 171G0235</h4>
        <h5>Programación Web.</h5>
    </footer>
</body>
</html>