@model Actividad2RolesDeUsuario.Models.ViewModels.RegistrarViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}

<div id="Principal">
    <form method="post" action="~/Home/AgregarAlumno">
        <h2>Registrar Alumno</h2>
        <label class="b">Nombre del Alumno</label>
        <input hidden asp-for="@Model.IdMaestro" />
        <input required class="b" type="text" asp-for="Alumno.Nombre" />
        <label class="b">Grupo</label>
        <input required class="b" type="text" asp-for="Alumno.Grupo" />
        @Html.ValidationSummary()
        <input class="b" type="submit" value="Registrar" />
        @if (User.IsInRole("Maestro"))
        {
            <a id="cancel" href="~/Home/ListaAlumnos/@Model.IdMaestro">
                &#8678
            </a>
        }
        else
        {
            <a id="cancel" href="~/Home/ListaAlumnos">
                &#8678
            </a>
        }
    </form>
</div>

