@model Actividad2RolesDeUsuario.Models.Alumno
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}

<div id="Principal">
    <form method="post" action="~/Home/AgregarAlumno">
        <h2>Registrar Alumno</h2>
        <label class="b">Nombre del Alumno</label>
        <input required class="b" type="text" asp-for="Nombre"/>
        <label class="b">Grupo</label>
        <input required class="b" type="text" asp-for="Grupo" />
        @Html.ValidationSummary()
        <input class="b" type="submit" value="Registrar" />
        <a id="cancel" href="~/Home/ListaAlumnos">
            &#8678
        </a>
    </form>
</div>

