
@{
    Layout = "_Layout";
}

<div id="EntradaPrincipal">
    <form>
        <h1>¡ACCESO DENEGADO!</h1>
        <h3>
            No tiene permitido acceder a este recurso.
        </h3>
        <a href="~/Home/Index">
            Regresar
        </a>
    </form>
</div>

