
@{
    Layout = "_Layout";
}

<div id="EntradaPrincipal">
    <form>
        <h2>¡Bienvenido Saúl Maldonado!</h2>

        <a href="~/Home/ListaMaestros" class="botonesEntrada">
            <input type="button" value="Maestros" />
        </a>

        <a href="#" class="botonesEntrada">
            <input type="button" value="Alumnos" />
        </a>

        <a href="~/Home/CerrarSesion" id="CerrarSesion">
            Cerrar Sesión
        </a>

    </form>
</div>

