
@{
    Layout = "_Layout";
    string nombre = @User.Claims.FirstOrDefault(x => x.Type == "NombreUsuario").Value;
}

@if (User.IsInRole("Director"))
{
    <div id="EntradaPrincipal">
        <form>
            <h2>¡Bienvenido @nombre!</h2>

            <a href="~/Home/ListaMaestros" class="botonesEntrada">
                <input type="button" value="Maestros" />
            </a>

            <a href="~/Home/ListaAlumnos" class="botonesEntrada">
                <input type="button" value="Alumnos" />
            </a>

            <a href="~/Home/CerrarSesion" id="CerrarSesion">
                Cerrar Sesión
            </a>

        </form>
    </div>
}

@if (User.IsInRole("Maestro"))
{
    <div id="EntradaPrincipal">
        <form>
            <h2>¡Bienvenido @nombre!</h2>

            <a href="~/Home/ListaAlumnos/@User.Claims.FirstOrDefault(x => x.Type == "IdUsuario").Value" class="botonesEntrada">
                <input type="button" value="Alumnos" style="width:400px" />
            </a>

            <a href="~/Home/CerrarSesion" id="CerrarSesion">
                Cerrar Sesión
            </a>

        </form>
    </div>
}

