@model IEnumerable<Actividad2RolesDeUsuario.Models.Maestro>
@{
    Layout = "_Layout";
}

<div id="divListas">
    <h2>Control de Maestros</h2>
    <table>
        <colgroup>
            <col style="width:40%" />
            <col style="width:60%" />
        </colgroup>
        <caption>
            <a href="~/Home/AltaMaestro"> &#x2795 Nuevo Docente</a>
        </caption>
        <thead>
            <tr>
                <th class="center">Docente</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="center">@item.Nombre</td>
                    <td class="center">
                        <a href="~/Home/Editar/@item.Id">Activar</a>
                        <a href="~/Home/Editar/@item.Id">Desactivar</a>
                        <a href="~/Home/Eliminar/@item.Id">Editar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

