html {
    background-image: Url(a.jpg);    
}

* {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

#Principal, #divListas {
    margin: 150px auto;
    background-color: white;
    width: 480px;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 5px;
    padding: 20px;
}

.b, textarea {
    display: block;
    margin: 15px 40px;
}

input[type=email], input[type=text], input[type=password], textarea{
    width: 400px;
    font-size: 15px;
}

input[type=submit], input[type=button] {
    background-color: darkblue;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    width: 100px;
    padding: 5px;
}

#divEliminar {
    margin: 15px 0 0 160px;
}


#recuerdame {
    margin: 0 0 0 40px;
}

#campo {
    font-size: 10px;
    color: red;
    margin: 0 40px 10px 40px;
    display:block;
}

h1, h2 {
    text-align: center;
    color: darkblue;
    border-bottom: 1.5px solid darkblue;
    margin: 0 30px 0 30px;
}

b{
    color:red;
}

a {
    text-decoration:none;
    font-size:13px;
    color:blue;
    display:inline;
}

footer {
    background-color: rgba(255, 255, 255, .8);
    margin:0;
    text-align:center;
}

h4, h5 {
    margin: 0;
    color: darkblue;
}

#cancel{
    margin-left:40px;
    margin-top:0;
    margin-bottom:0;
    font-size:25px;
    text-decoration:none;
}

#EntradaPrincipal {
    margin: 150px auto;
    width: 540px;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 5px;
    padding: 15px;
    vertical-align:central;
}

    h3 {
        font-size: 18px;
        text-align: center;
        margin: 20px 40px;
    }

    #EntradaPrincipal form h2 {
        font-size: 30px;
        margin-bottom:40px;
    }

    #EntradaPrincipal form a {
        display: inline;
    }

#footerEntrada{
    margin-top:280px;
}

#EntradaPrincipal form .botonesEntrada {
    margin:0 0 20px 65px;
}

#EntradaPrincipal form .botonesEntrada input[type=button] {
    height:150px;
    width:170px;
}

#EntradaPrincipal form #CerrarSesion {
    display: block;
    text-align: center;
    margin:30px 0 0 0;
    font-size:20px;
}



#divListas {
    margin: 150px auto;
    background-color: white;
    width: 700px;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 5px;
    padding: 20px;
}

table {
    width: 570px;
    padding: 10px;
    border: 1px solid darkblue;
    margin: 10px auto;
    background-color: rgba(255, 255, 255, 0.57);
}

    table a {
        text-decoration: none;
        color: black;
        margin-right: 20px;
    }

.center {
    text-align: center;
}

caption{
    padding:15px;
}

caption a {
    font-size: 18px;
}

#divListasAlumno {
    margin: 150px auto;
    background-color: white;
    width: 850px;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 5px;
    padding: 20px;
}

#divListasAlumno table {
    width: 750px;
    padding: 10px;
    border: 1px solid darkblue;
    margin: 10px auto;
    background-color: rgba(255, 255, 255, 0.57);
}