
@{
    Layout = "_Layout";
}

<div id="Principal">

    <form>
        <div id="divInicioSesion">
            <h2>Iniciar Sesión</h2>
            <label class="b">Correo Electronico<b>*</b></label>
            <input class="b" type="email" />
            <label class="b">Contraseña<b>*</b></label>
            <input class="b" type="password" />
            <input type="checkbox" id="recuerdame" /><label id="check" for="recuerdame"> Recuerdame</label>
            <input class="b" type="submit" value="Ingresar" />
            <p id="campo"><b>*</b>Campos Obligatorios</p>
            <p>¿No tiene cuenta?</p>
            <a href="VentanaCrarCuenta">
                Registrarse
            </a> <br />
            <p>¿Olvidó su contraseña?</p>
            <a href="VentanaCambioDeContraseña">
                Recuperar Contraseña
            </a>
        </div>
    </form>
</div>