
@{
    Layout = "_Layout";
    var id = int.Parse(@User.Claims.FirstOrDefault(x => x.Type == "IdUsuario").Value);
}

<div id="EntradaPrincipal">
    <form>
        <h1>¡BIENVENIDO A SISTEMAS171!</h1>
        <h3>
            Bienvenido @User.Claims.FirstOrDefault(x => x.Type == "NombreUsuario").Value
        </h3>
        <a href="~/Home/CerrarSesion" id="cerrar">
            Cerrar Sesión
        </a>
        <a href="~/Home/CambiarContraseña/@id" id="cambiarContra">
            Cambiar Contraseña
        </a>
        <a href="~/Home/EliminarCuenta/@id" id="eliminar">
            Eliminar Cuenta
        </a>
    </form>
</div>