
@{
    Layout = "_Layout";
}

<div id="EntradaPrincipal">
    <form>
        <h1>¡BIENVENIDO A SISTEMAS171!</h1>
        <h3>
            Bienvenido @User.Claims.FirstOrDefault(x => x.Type == "NombreUsuario").Value
        </h3>
        <a href="~/Home/CerrarSesion" id="cerrar">
            Cerrar Sesión
        </a>
        <a href="EliminarCuenta" id="eliminar">
            Eliminar Cuenta
        </a>
    </form>
</div>