@model Actividad1ControlCuentasUsuario.Models.ViewModels.ValidarCodigoViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}

<div id="Principal">
    <form method="post" action="~/Home/ValidarCodigo">

        <h2>Validar Codigo</h2>
        <p>Ingrese el codigo que le ha sido enviado al correo.</p>
        <input type="hidden" asp-for="Id" />
        <label class="b">Ingrese Código:</label>
        <textarea asp-for="codigoConfirmacion"required></textarea>

        <input class="b" type="submit" value="Aceptar" />

    </form>
</div>

